@using Umbraco.Course.Models
@inherits UmbracoViewPage<StreamModel>
@{
    Layout = "Layout.cshtml";
}
<div class="jumbotron" id="statusForm">
    @Html.Partial("StatusUpdatePartial", new StatusUpdateModel())
</div>

<div>
    @Html.Partial("Partials/ListStatusUpdates", Model)
</div>