@using Umbraco.Course.Models
@inherits UmbracoTemplatePage
@{
    Layout = "Layout.cshtml";
}
<div class="jumbotron" id="statusForm">
    @{ Html.RenderPartial("StatusUpdatePartial", new StatusUpdateModel()); }
</div>

<div>
    @Umbraco.RenderMacro("ListStatusUpdates")
</div>